
<div style="background:aquamarine;height:800px"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="start"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div style="background:rgb(255, 196, 211);" fxFlex="20">
      <div fxLayout="column"
      fxLayout.xs="row"
      fxLayoutAlign="center"
      fxLayoutGap="10px">
        <div style="background:bisque;" fxFlex="30" fxLayoutAlign="center">item1_1</div>
        <div style="background:rgb(214, 233, 128);" fxFlex="30">item1_2</div>
        <div style="background:rgb(196, 212, 255);" fxFlex="30">item1_3</div>
      </div>

  </div>
  <div style="background:rgb(238, 198, 138);" fxFlex="20">Item 2</div>
  <div style="background:cadetblue;" fxFlex="20">Item 3</div>
</div>
