<app-vd-frame [display]="1" [status]="0">
    <div>
        <mat-card><b>お客様の情報入力お客様の情報入力お客様の情報入力</b></mat-card>

        <div id="qa" class="mainContent">


            <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px">

                <ng-container >
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1px">
                        <div class="item" fxFlex="35">
                            {{dataSource[0].name}}
                            <div class="check"> 必須 </div>
                        </div>
                        <div class="item" fxFlex="65">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.annualIncome">
                                <p *ngFor="let it of dataSource[0].list_td">
                                    <mat-radio-button [value]='it'>{{it}}</mat-radio-button>
                                </p>
                            </mat-radio-group>
                        </div>
                    </div>
                </ng-container>
                <ng-container >
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1px">
                        <div class="item" fxFlex="35">
                            {{dataSource[1].name}}
                            <div class="check"> 必須 </div>
                        </div>
                        <div class="item" fxFlex="65">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.financialAssets">
                                <p *ngFor="let it of dataSource[1].list_td">
                                    <mat-radio-button [value]='it'>{{it}}</mat-radio-button>
                                </p>
                            </mat-radio-group>
                        </div>
                    </div>
                </ng-container>
                <ng-container >
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1px">
                        <div class="item" fxFlex="35">
                            {{dataSource[2].name}}
                            <div class="check"> 必須 </div>
                        </div>
                        <div class="item" fxFlex="65">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.investmentPolicy">
                                <p *ngFor="let it of dataSource[2].list_td">
                                    <mat-radio-button [value]='it'>{{it}}</mat-radio-button>
                                </p>
                            </mat-radio-group>
                        </div>
                    </div>
                </ng-container>

                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1px">

                    <div class="item" fxFlex="35" fxLayout="row" fxLayoutAlign="start">
                        <div class="item" fxFlex="35">
                            投資経験
                        </div>
                        <div fxFlex="65">
                            <ng-container *ngFor="let item of dataSource1, let i = index">
                                <div class="item">
                                    {{item.list_name}}
                                    <p class="check">必須</p>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="item" fxFlex="65">

                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_1">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_2">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_3">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_4">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_5">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_6">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_7">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_8">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                        <div class="item">
                            <mat-radio-group (change)='watchValue()' [(ngModel)]="btnCheck.InvestmentExperience_9">
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[0]'>
                                        {{investmentExperience[0]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[1]'>
                                        {{investmentExperience[1]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[2]'>
                                        {{investmentExperience[2]}}
                                    </mat-radio-button>
                                </span>
                                <span>
                                    <mat-radio-button style="margin-left: 8px;" [value]='investmentExperience[3]'>
                                        {{investmentExperience[3]}}
                                    </mat-radio-button>
                                </span>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div>
        <button mat-flat-button color="warn" (click)='goBack()'>≪戻る</button>
        <button mat-flat-button color="warn" type="submit" class="nextBtn"  (click)='nextPage()' [disabled]="!isShow">次へ</button>
    </div>

    <mat-card>
        <b>情朝提供:株式会社野材総合研究所(NRD本面面は投資判所の参考としての情報提供を目的として提供しているものであり、
            投査垂誘を目的にしたものではありません。投資信E情報の審作権は株式会社野材総合研究所(NRDに帰属します。
            不画面の内容について1は万全を期しておりますが、その内容を保証するものではありません。これらの情報によって生じたいかなる損害についても、
            当社およごA報提供者は一切の青任を負いませ6す面面の内容について、畜積·編集加工·二次利用を禁します。
        </b>
    </mat-card>
</app-vd-frame>